body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}


#container{
    width: 580px;
    margin:150px auto;
    text-align:center ;
}


h1#logo{
    width: 222.5px;
    height: 73.5px; 
    background:url(Images/Google.2.jpg) top  left no-repeat;
    background-size: 100%; 
    text-indent: -9999px;
    margin: 0 auto;        
}

input[type="text"] {
    width: 500px;
    padding: 4px;
    margin: 25px 0 18px;
    border: solid 1px #ccc;
    font-size: 16px;
}

input[type="text"] :hover {
     border-color: #aaa;
}

input[type="submit"]{
    background: #e7e5e5;
    color: #272727;
    border: solid 1px #aaa;
    padding: 5px;
    font-size: 12px;
    font-family: Arial,sans-serif;
    font-weight: bold;
    margin: 0 5px;
    float: none;
}

a:link, a:visited{
    color: rgb(5, 5, 177);
}

small{
    display: block;
    margin: 10px 0 0 0;
    font-size: 12px;
}



nav{
    text-align: right;
    margin: 10px;
}


nav ul li{
    display: inline;
    
}


nav ul li a:link,
nav ul li a:visited,
footer nav ul li a:link,
footer nav ul li a:visited{
    color: #555;
    text-decoration: none;
    padding: 7px;
    font-size: 16px;
    margin:7px;
    height:100% ;
}

nav ul li a:hover,
footer nav ul li a:hover {
    text-decoration: underline;
}

footer{
    padding:6px;
    margin-left:-8px;
    margin-top: 29px;
    width: 100%;
    position: fixed;
}

footer nav ul li{
    display: inline;
}


footer nav .left-links{
    float: left;
}



footer nav #right-links{
    float: right;
    text-align: right;
}

 .sign-in-btn {
    background-color: #4285f4;
    color: white;
    padding: 8px 9px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin:-8px;
  }





@media(max-width:768px){
    body{width: 90%;}
    #container{width: 100%;}

    h1#logo{width:%;}

    input[type="text"]{width:100%;}

    nav#header ul li{padding:0 auto;
        margin:auto;
    text-align: center;}

    footer nav .left-links,
    footer nav #right-links{
        text-align:center;
        float: none;
        margin:4px;
        padding:4px;
    }

     .sign-in-btn{
        width:100%;
        margin:10px 0;
        font-size:16px;
    } 


   footer{
        padding: 12px;
        margin: -28px;
        margin-top:80px;
        
    }
} 
